<!DOCTYPE html>
<html>
<%- include('./partials/head.ejs')%>
  <body>
    <% const title = 'este es el titulo'%>
    <h1>contact <%=title%></h1>
    <p>esta muy genial </p>
    <a href="/">inicio</a>
  </body>
</html>